<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Apis" version="1.30.0" targetFramework="net452" />
  <package id="Google.Apis.Auth" version="1.30.0" targetFramework="net452" />
  <package id="Google.Apis.Core" version="1.30.0" targetFramework="net452" />
  <package id="Google.Apis.Vision.v1" version="1.30.0.1041" targetFramework="net452" />
  <package id="HtmlAgilityPack" version="1.6.5" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="System.Net.Http" version="4.3.1" targetFramework="net452" />
</packages>